# requirements.txt

pyinstaller
discord.py
PyNaCl
zstandard
customtkinter
python-dotenv
yt-dlp
spotipy
spotifyscraper[all]
cachetools
requests
lyricsgenius
syncedlyrics
psutil
pystray
Pillow
packaging
opencv-python