# requirements.txt

cachetools
customtkinter
discord.py[voice]
# opencv-python
packaging
Pillow
psutil
pyinstaller
pystray
python-dotenv
requests
spotifyscraper[all]
spotipy
yt-dlp
# zstandard